{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@hooks/*": "./hooks",
          "@components/*": "./components",
          "@layouts/*": "./layouts",
          "@pages/*": "./pages",
          "@utils/*": "./utils",
          "@typings": "./typings"
        }
      }
    ]
  ]
}
